@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 345px;
  max-height: 580px;
  height: 580px;
}

.image {
  margin-bottom: 26px;
  height: 200px;
  max-height: 200px;
  width: 100%;
}

.title {
  font-size: 25px;
  font-weight: 700;
  
}

.description {
  margin-top: 6px;
  font-size: 20px;
  font-weight: 400;
  height: 100px;
  max-height: 100px;
}

.skills {
  width: 90%;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  height: 105px;
  list-style: none;
}

.skill {
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 4px 22px;
  height: 33px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  background: #576cbc;
  padding: 4px 22px;
}

.link:hover {
  background: #576bbc5b;
  transition: 0.4s;
}

@media (max-width: 768px) {
  .container {
    width: 299px;
  }

  .skills {
    display: none;
  }
}
