/* Estilos gerais */
.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link img {
  width: 30px; /* Ajuste conforme necessário */
  height: 30px; /* Ajuste conforme necessário */
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

/* Media query para telas pequenas */
@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    padding: 30px 5%;
    gap: 20px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .text h2 {
    font-size: 50px;
  }

  .text p {
    font-size: 24px;
  }

  .links {
    align-items: center;
    gap: 15px;
  }

  .link {
    flex-direction: column;
    align-items: center;
  }

  .link img {
    width: 25px;
    height: 25px;
  }

  .link a {
    font-size: 20px;
  }
}

/* Media query para telas muito pequenas */
@media screen and (max-width: 500px) {
  .text h2 {
    font-size: 36px;
  }

  .text p {
    font-size: 18px;
  }

  .link a {
    font-size: 16px;
  }
}
